.container {
  width: 68%;
  margin-top: 80px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: rgb(252, 252, 252);
  margin-bottom: 28px;
}

.date_inner {
  display: flex;
  align-items: center;
}

.date_box {
  position: relative;
  width: 50%;
}

.date_text {
  color: rgb(252, 252, 252);
  font-size: 16px;
  margin-bottom: 18px;
}

.date_toggle_box {
  cursor: pointer;
  position: relative;
}

.date_button {
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(230, 230, 230);
  text-align: center;
  &:focus {
    border: 1px solid #ec6127;
  }
}

.date_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

// 하단 파트너쉽 기간 설정 버튼

.period_button_box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.period_button {
  cursor: pointer;
  width: 30%;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  padding: 15px 0;
  box-sizing: border-box;
  background-color: rgb(14, 14, 14);
  color: rgb(252, 252, 252);
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  &:focus {
    background-color: #ec6127;
    color: rgb(14, 14, 14);
    border: 1px solid #ec6127;
  }
}

// 하단 기간 설정 버튼

.year_button_box {
  width: 90%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.year_button {
  cursor: pointer;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: rgb(252, 252, 252);
  background-color: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
}

.year_button.selected {
  background-color: rgb(236, 97, 38);
  border: 1px solid rgb(236, 97, 38);
  color: rgb(14, 14, 14);
}
