// 서브 단계 링크 박스

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.nav_box {
  animation: fadeInDown 1s;
}

.nav_box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(30, 30, 30);
}

.nav_item,
.active_nav_item {
  cursor: pointer;
  padding: 20px 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid rgb(207, 207, 207);
  color: rgb(207, 207, 207);
  font-size: 14px;
  font-weight: 300;
  &::before {
    content: ">";
    color: rgb(62, 62, 62);
    padding: 0 10px;
    box-sizing: border-box;
  }
  &:first-child::before {
    content: "";
    padding: 0;
  }
  &:nth-child(2)::before {
    color: rgb(236, 97, 38);
  }
  &:hover {
    color: rgb(236, 97, 38);
  }
}

.active_nav_item {
  border-bottom: 2px solid rgb(236, 97, 38);
  color: rgb(236, 97, 38);
}

// 설정 값 초기화 버튼

.side_button_box {
  float: right;
  position: sticky;
  top: 290px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 50px;
  box-sizing: border-box;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 6px;
}

.view_button {
  cursor: pointer;
  position: relative;
  border: 0;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  color: rgb(207, 207, 207);
  font-size: 14px;
  font-weight: 300;
  background-color: rgb(14, 14, 14);
  font-family: Noto Sans KR, sans-serif;
  margin-bottom: 20px;
}

.view_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.reset_button {
  cursor: pointer;
  border: 0;
  color: rgb(207, 207, 207);
  font-size: 14px;
  font-weight: 300;
  background-color: rgb(14, 14, 14);
  font-family: Noto Sans KR, sans-serif;
  margin-bottom: 20px;
}

.reset_img {
  margin-right: 10px;
}

// 프로그래스 바 부분

.step_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step_number,
.active_step_number {
  width: 24px;
  height: 24px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  box-sizing: border-box;
  color: rgb(159, 159, 159);
  font-weight: 500;
}

.active_step_number {
  border: 1px solid rgb(236, 97, 38);
  color: rgb(236, 97, 38);
}

.step_line,
.active_step_line {
  margin: 0;
  border: 0.5px solid rgb(159, 159, 159);
  height: 30px;
}

.active_step_line {
  border: 0.5px solid rgb(236, 97, 38);
}

// 옵션 선택하는 부분

.option_box {
  position: relative;
  width: 62%;
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
}

.option_text {
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
}

.option_sub_text {
  margin: 28px 0 18px;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 300;
}

.option_input_box {
  position: relative;
}

.option_input {
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 300;
  &::placeholder {
    transition: all 0.3s ease-in-out;
    color: rgb(252, 252, 252);
    font-size: 16px;
    font-weight: 300;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:hover {
    border: 1px solid rgb(252, 252, 252);
  }
  &:focus {
    border: 1px solid #ec6127;
  }
}

.option_select_arrow,
.active_option_select_arrow {
  position: absolute;
  top: 35%;
  right: 28px;
  color: #ec6127;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.active_option_select_arrow {
  transform: rotate(180deg);
}

// 선택 박스 선택시 나오는 박스 부분

.hide_box {
  list-style: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 10px;
  background: rgb(14, 14, 14);
  border-radius: 6px;
  border: 1px solid rgb(62, 62, 62);
  max-height: 500px;
  overflow: hidden auto;
}

.hide_input,
.active_hide_input,
.disabled_input {
  cursor: pointer;
  outline: none;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  background: rgb(14, 14, 14);
  border: 0;
  color: rgb(230, 230, 230);
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.active_hide_input {
  background: rgba(236, 97, 38, 0.3) !important;
}

.disabled_input {
  color: rgb(110, 110, 110);
  &:hover {
    background: rgb(14, 14, 14);
  }
}
