.container {
  padding: 50px 0;
  box-sizing: border-box;
  height: calc(100vh - 300px);
}

.title {
  color: rgb(252, 252, 252);
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}

.image_box {
  cursor: pointer;
  width: 33%;
  margin-top: 18px;
  padding: 50px 30px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(62, 62, 62);
}

.img {
  width: 100%;
  height: auto;
}
