// 컨텐츠 부분

.inner {
  margin-top: 50px;
}

.sub_inner {
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 0;
  }
}

.title_box {
  margin-bottom: 28px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

// 옵션 선택하는 부분

.option_box {
  position: relative;
  width: 62%;
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
}

.option_text {
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 18px;
}

.option_input_box {
  position: relative;
}

.option_input {
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 300;
  &::placeholder {
    transition: all 0.3s ease-in-out;
    color: rgb(252, 252, 252);
    font-size: 16px;
    font-weight: 300;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:hover {
    border: 1px solid rgb(252, 252, 252);
  }
  &:focus {
    border: 1px solid #ec6127;
  }
}

.option_select_arrow,
.active_option_select_arrow {
  position: absolute;
  top: 35%;
  right: 28px;
  color: #ec6127;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.active_option_select_arrow {
  transform: rotate(180deg);
}

// 선택 박스 선택시 나오는 박스 부분

.hide_box {
  list-style: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 10px;
  background: rgb(14, 14, 14);
  border-radius: 6px;
  border: 1px solid rgb(62, 62, 62);
  max-height: 500px;
  overflow: hidden auto;
}

.hide_input,
.active_hide_input {
  cursor: pointer;
  outline: none;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  background: rgb(14, 14, 14);
  border: 0;
  color: rgb(230, 230, 230);
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.active_hide_input {
  background: rgba(236, 97, 38, 0.3) !important;
}

// input창 부분

.option_input_text,
.option_input_percent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  color: rgb(230, 230, 230);
  font-size: 16px;
}

.option_input_percent {
  top: 35%;
}

.warning_text {
  color: rgb(159, 159, 159);
  font-size: 12px;
  margin-top: 10px;
}

// 인풋 넘버 화살표 지우기

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// 시즈널리티 선택 시 나오는 기간 박스

.month_list_wrapper {
  width: 100%;
  margin-top: 18px;
}

.month_list_inner {
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 30);
  border-radius: 6px;
}

.month_list_box,
.active_month_list_box {
  cursor: pointer;
  width: calc(100% / 12);
  height: 48px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.active_month_list_box {
  background-color: rgb(236, 97, 38);
}

.month_list_text,
.active_month_list_text {
  font-size: 14px;
  font-weight: 400;
  color: rgb(230, 230, 230);
  transition: all 0.3s ease-in-out;
}

.active_month_list_text {
  color: rgb(14, 14, 14);
}

.warning_box {
  margin-top: 10px;
}

// 시즈널리티 선택 시 나오는 기간 박스

.month_list_wrapper {
  width: 100%;
  margin-top: 18px;
}

.month_list_inner {
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 30);
  border-radius: 6px;
}

.month_list_box,
.active_month_list_box {
  cursor: pointer;
  width: calc(100% / 12);
  height: 48px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.active_month_list_box {
  background-color: rgb(236, 97, 38);
}

.month_list_text,
.active_month_list_text {
  font-size: 14px;
  font-weight: 400;
  color: rgb(230, 230, 230);
  transition: all 0.3s ease-in-out;
}

.active_month_list_text {
  color: rgb(14, 14, 14);
}

.warning_box {
  margin-top: 10px;
}

//  체크 박스 부분

.hide_check_box {
  display: none;
}

.check_box_label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.check_box {
  width: 20px;
  height: 20px;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  position: relative;
  margin-right: 10px;
}

.check_box_checked {
  position: absolute;
  left: 4.5px;
  top: 2px;
  width: 7px;
  height: 10px;
  border: 1px solid #3e3e3e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hide_check_box.checked + .check_box_label .check_box {
  background-color: #ec6127;
  border: 1px solid #1e1e1e;
}

.check_text {
  font-size: 16px;
  font-weight: 500;
  color: rgb(252, 252, 252);
}

// 하위 필터들

.check_inner {
  display: flex;
  align-items: center;
}

.check_item {
  position: relative;
  &:hover .explanation_hide_box {
    display: block;
  }
  &:last-child {
    margin-left: 50px;
  }
}

.check_b {
  display: block;
  margin-left: 10px;
  color: rgb(159, 159, 159);
  font-size: 8px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// hover 시 나오는 문구 부분

.explanation_hide_box {
  display: none;
}

.explanation_box {
  position: absolute;
  width: max-content;
  top: -50px;
  left: 0;
  z-index: 1;
  background-color: rgb(14, 14, 14);
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ec6127;
  border-radius: 10px;
}

.explanation_text {
  font-size: 12px;
  font-weight: 300;
  color: rgb(252, 252, 252);
  line-height: 1.4;
}

// 타이밍 설정 선택 시 하단에 나오는 부분

.split_inner {
  margin-top: 30px;
}

.split_box {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  &:last-child .add_button {
    display: inline-block;
  }
}

.radio_item_box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.radio_item {
  position: relative;
  margin-right: 50px;
  display: flex;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
  &:hover .explanation_hide_box {
    display: block;
  }
}

.radio_img,
.active_radio_img {
  cursor: pointer;
  margin-right: 10px;
}

.active_radio_img {
  display: none;
}

.radio_input {
  display: none;
  margin: 0;
}

.radio_input.checked + .label .active_radio_img {
  display: block;
}

.radio_input.checked + .label .radio_img {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(252, 252, 252);
}

// 매크로 부분

.macro_text {
  font-size: 16px;
  color: rgb(252, 252, 252);
  margin-bottom: 18px;
}

.macro_box {
  position: relative;
  width: 40%;
}

.macro_input_box {
  display: flex;
  align-items: center;
  width: 85%;
}

.text {
  font-size: 14px;
  font-weight: 300;
  color: rgb(252, 252, 252);
  margin: 0 10px;
}

.macro_button_box {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: calc(100% - 50% - 30px);
}

.macro_button,
.active_macro_button {
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
  padding: 14px 20px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  color: rgb(252, 252, 252);
  position: relative;
  background-color: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  &:first-child {
    border-radius: 6px 0px 0px 6px;
  }
  &:last-child {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 0px 6px 6px 0px;
  }
}

.active_macro_button {
  border: 1px solid rgb(236, 97, 38);
}

.value_input_box {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.value_input {
  outline: none;
  width: 30%;
  padding: 14px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: rgb(230, 230, 230);
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  margin-right: 10px;
  &::placeholder {
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-size: 16px;
    color: rgb(230, 230, 230);
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:focus {
    border: 1px solid #ec6127;
  }
}

.macro_add_button_box {
  margin-top: 40px;
}

.add_button,
.remove_button {
  display: none;
  cursor: pointer;
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: rgb(236, 97, 38);
  border-radius: 6px;
  font-size: 14px;
  color: rgb(14, 14, 14);
  font-weight: 500;
  border: 0;
}

.remove_button {
  display: inline-block;
  margin-right: 32px;
  background-color: rgb(0, 0, 0);
  color: rgb(252, 252, 252);
}

// 커스텀 필터 버튼 부분

.add_button_box {
  position: relative;
  margin: 100px 0 80px;
}

.add_button_text {
  margin-bottom: 30px;
}

.add_button {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 6px;
  padding: 15px 30px;
  box-sizing: border-box;
  color: rgb(14, 14, 14);
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(236, 97, 38);
}
