// 서브 단계 링크 박스

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.nav_box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(30, 30, 30);
  animation: fadeInDown 1s;
}

.nav_item,
.active_nav_item {
  cursor: pointer;
  padding: 20px 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid rgb(207, 207, 207);
  color: rgb(207, 207, 207);
  font-size: 14px;
  font-weight: 300;
  &::before {
    content: ">";
    color: rgb(62, 62, 62);
    padding: 0 10px;
    box-sizing: border-box;
  }
  &:first-child::before {
    content: "";
    padding: 0;
  }
  &:hover {
    color: rgb(236, 97, 38);
  }
}

.active_nav_item {
  border-bottom: 2px solid rgb(236, 97, 38);
  color: rgb(236, 97, 38);
}

// inner nav box 부분

.inner_nav_box {
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.active_inner_nav,
.inner_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 72px;
  text-decoration: none;
  border: 1px solid rgb(236, 97, 38);
  border-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  background-color: rgb(14, 14, 14);
  color: rgb(236, 97, 38);
}

.inner_nav {
  color: rgb(252, 252, 252);
  border-bottom: 1px solid rgb(236, 97, 38);
  border-color: rgb(62, 62, 62) rgb(62, 62, 62) rgb(236, 97, 38);
  background-color: rgb(30, 30, 30);
}

.bottom_hr {
  position: absolute;
  width: 300px;
  border: 0.5px solid rgb(236, 97, 38);
  bottom: -8px;
  right: 0;
}

// 옵션 선택하는 부분

.option_box {
  position: relative;
  width: 62%;
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
}

.option_text {
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
}

.option_input_box {
  position: relative;
}

.option_input {
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 300;
  &::placeholder {
    transition: all 0.3s ease-in-out;
    color: rgb(252, 252, 252);
    font-size: 16px;
    font-weight: 300;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:hover {
    border: 1px solid rgb(252, 252, 252);
  }
  &:focus {
    border: 1px solid #ec6127;
  }
}

.option_select_arrow,
.active_option_select_arrow {
  position: absolute;
  top: 35%;
  right: 28px;
  color: #ec6127;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.active_option_select_arrow {
  transform: rotate(180deg);
}

// 선택 박스 선택시 나오는 박스 부분

.hide_box {
  list-style: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 10px;
  background: rgb(14, 14, 14);
  border-radius: 6px;
  border: 1px solid rgb(62, 62, 62);
  max-height: 500px;
  overflow: hidden auto;
}

.hide_input,
.active_hide_input {
  cursor: pointer;
  outline: none;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  background: rgb(14, 14, 14);
  border: 0;
  color: rgb(230, 230, 230);
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.active_hide_input {
  background: rgba(236, 97, 38, 0.3) !important;
}

// 커스텀 필터 버튼 부분

.add_button_box {
  position: relative;
  margin: 100px 0 80px;
}

.add_button_text {
  margin-bottom: 30px;
}

.add_button {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 6px;
  padding: 15px 30px;
  box-sizing: border-box;
  color: rgb(14, 14, 14);
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(236, 97, 38);
}

// 다음 버튼

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  width: 20%;
  color: rgb(14, 14, 14);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  border: 0;
  border-radius: 6px;
  padding: 20px 0;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(236, 97, 38), rgb(236, 38, 38));
}

.button_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

// 필터 순위 추가 부분

.check_list_box {
  width: 80%;
  margin-top: 80px;
}

.check_list_title_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.check_list_title {
  font-size: 18px;
  font-weight: 500;
  color: rgb(252, 252, 252);
}

.ranking_box {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &:hover .ranking_explanation_hide_box {
    display: block;
  }
}

.ranking_explanation_hide_box {
  display: none;
}

.ranking_box .ranking_explanation_box {
  position: absolute;
  width: 320px;
  top: -50px;
  right: 0;
  background-color: rgb(14, 14, 14);
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ec6127;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.ranking_explanation_img {
  margin-right: 10px;
}

.ranking_explanation_text {
  font-size: 14px;
  font-weight: 300;
  color: rgb(252, 252, 252);
}

.ranking_text {
  color: rgb(159, 159, 159);
  font-size: 16px;
}

.ranking_b {
  display: block;
  margin-left: 5px;
  color: rgb(159, 159, 159);
  font-size: 8px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
