.container {
  margin-top: 80px;
}

.button_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(236, 97, 38);
}

.button,
.active_button {
  cursor: pointer;
  outline: none;
  width: 20%;
  color: rgb(252, 252, 252);
  font-size: 20px;
  font-weight: 300;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(62, 62, 62) rgb(62, 62, 62) rgb(236, 97, 38);
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.active_button {
  //   background-color: rgb(14, 14, 14);
  //   border-top: 1px solid rgb(236, 97, 38);
  //   border-right: 1px solid rgb(236, 97, 38);
  //   border-left: 1px solid rgb(236, 97, 38);
}
