.fixed_box {
  position: sticky;
  top: 142px;
  z-index: 2;
}

// 컨텐츠 부분

.inner {
  margin-top: 50px;
}

.sub_inner {
  margin-bottom: 50px;
}

.title_box {
  margin-bottom: 28px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

// 커스텀 필터 버튼 부분

.add_button_box {
  position: relative;
  margin: 100px 0 80px;
}

.add_button_text {
  margin-bottom: 30px;
}

.add_button {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 6px;
  padding: 15px 30px;
  box-sizing: border-box;
  color: rgb(14, 14, 14);
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(236, 97, 38);
}

// 다음 이전 버튼

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  width: 20%;
  color: rgb(14, 14, 14);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  border: 0;
  border-radius: 6px;
  padding: 20px 0;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(236, 97, 38), rgb(236, 38, 38));
}

.button_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
